main {
  min-height: 88vh;
}

h1, h2, h3, h4, h5, h6, p, .text-prim {
  color: #343a40;
}

.rating span {
  margin: 0.01rem;
}

.rating-text, .checkout-nav {
  color: #343a40;
  font-weight: 300;
}

.inline {
  display: inline;
}