main {
  min-height: 88vh;
  background-color: var(--light)
}

h1, h2, h3, h4, h5, h6, p, .text-prim {
  color: #343a40;
}

.inline {
  display: inline;
}

.list-group-item-light {
  background-color: var(--light);
}

/* rating */

.rating span {
  margin: 0.01rem;
}

.rating-text, .checkout-nav {
  color: #343a40;
  font-weight: 300;
}

/* links */

.page-link {
  background-color: var(--light);
  color: var(--dark);
}

.page-item.active .page-link {
  background-color: var(--dark);
  border-color: var(--dark);
  color: var(--light);
}


.checkout-active {
  font-weight: 500;
}

/* carousel */

.carousel {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.carousel.item.next, carousel.item.pref, carousel.item.active {
  display: flex;
}

.carousel.caption {
  position: absolute;
  top: 0;
}

.carousel-caption h2 {
  color: var(--light);
}

.carousel img {
  height: 300px;
  padding: 30px;
  margin: 40px;
  border-radius: 50%;
}

/* 404 not found */

.page-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.page-center a {
  text-decoration: none;
  text-transform: uppercase;
  background: #18e06f;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  margin-top: 1rem;
}

.page-center a:hover {
  color: #000000;
}